# Scripts to download or generate data

In [1]:
import boto3

In [2]:
import yaml

In [3]:
def load_config(config_path):
    with open(config_path, 'r') as config_file:
        config = yaml.safe_load(config_file)
    return config

In [4]:
import os
import yaml

# Obtenir le chemin absolu du répertoire racine du projet
curen_file=os.getcwd()
project_root =  os.path.abspath(os.path.join(os.path.dirname(curen_file), '..')) 

# Charger la configuration
config_path = os.path.join(project_root, 'config.yaml')
with open(config_path, 'r') as f:
    config = yaml.safe_load(f)
print(config_path)

/home/onyxia/work/ProjetNlpavril2024/Project1_odione/classification_by_LLM_DL/config.yaml

In [5]:
aws_access_key_id = config['aws_access_key_id']
aws_secret_access_key = config['aws_secret_access_key']
aws_session_token = config['aws_session_token']
endpoint_url = config['endpoint_url']
bucket_name = config['bucket_name']
input_s3_filepath1 = config['input_s3_filepath1']
output_s3_filepath1 = config['output_s3_filepath1']
input_s3_filepath2 = config['input_s3_filepath2']
output_s3_filepath2 = config['output_s3_filepath2']

In [10]:
output_s3_filepath2

'Socface_Data/Output_transcriptions_with_sex.csv'

In [7]:
s3 = boto3.client("s3",endpoint_url=endpoint_url ,aws_access_key_id=aws_access_key_id, aws_secret_access_key=aws_secret_access_key, 
                  aws_session_token = aws_session_token)

In [8]:
type(s3)

botocore.client.S3

In [9]:
# Lister les buckets
response = s3.list_buckets()

# Afficher les noms des buckets
print("Existing buckets:")
for bucket in response['Buckets']:
    print(f'  {bucket["Name"]}')

Existing buckets:
  donnees-insee
  odione

# Lister les objets dans le bucket
bucket_name="odione"
response = s3.list_objects_v2(Bucket=bucket_name)

# Vérifier s'il y a des objets dans le bucket
if 'Contents' in response:
    print("Files in the bucket:")
    for obj in response['Contents']:
        print(f'  {obj["Key"]}')
else:
    print("No files found in the bucket.")

In [11]:
# Télécharger un fichier depuis un bucket
# Define local paths for downloading 
local_Raw_data1 = os.path.join(project_root, 'data/firts_name.csv')
local_Raw_data2 = os.path.join(project_root, 'data/transcriptions.csv')
local_Raw_data1,local_Raw_data2

('/home/onyxia/work/ProjetNlpavril2024/Project1_odione/classification_by_LLM_DL/data/firts_name.csv',
 '/home/onyxia/work/ProjetNlpavril2024/Project1_odione/classification_by_LLM_DL/data/transcriptions.csv')

 ## 1 Télécharger depuis MinIo et enregistrer dans ProjetNlpavril2024/Project1_odione/classification_by_LLM_DL/data

In [12]:
print(input_s3_filepath1,'\n')
print(input_s3_filepath2)

Socface_Data/firstname_with_sex.csv

Socface_Data/transcriptions_with_sex.csv

In [13]:
" le jeu de données firstname_with_sex"
s3.download_file(bucket_name, input_s3_filepath1, local_Raw_data1)

In [14]:
" le jeu de données transcriptions_with_sex"
s3.download_file(bucket_name, input_s3_filepath2, local_Raw_data2)

In [15]:
import pandas as pd

In [16]:
data1=pd.read_csv(local_Raw_data1,sep=';')
print(data1.shape)
data1.head(3)

(6946, 3)

  firstname     male   female
0     marie    10145  2390322
1      jean  1869615     6476
2    pierre  1475841     5047

In [17]:
data2=pd.read_csv(local_Raw_data2,sep=',')
print(data2.shape)
data2.head(3)

(241, 4)

,subject_line,groundtruth,prediction,sex
0,ebb26ada-044c-4c62-9dbc-a9c8d505d31c,surname: Chardon firstname: Marie occupation: ...,nom: Chardon prénom: Marie date_naissance: 30 ...,femme
1,338496f5-e4ca-43ac-aa5c-429cb3f6ac00,surname: Lhopital firstname: Louis-Jean occupa...,nom: Lhopital prénom: Louis Jean date_naissanc...,homme
2,e6a279da-9b6f-4f49-b498-64857bc50d1e,surname: Papin firstname: Marie occupation: id...,nom: Pyrin prénom: Marie date_naissance: 55 re...,femme