In [17]:
import src.data.make_dataset   as make_dataset

In [18]:
make_dataset.get_data()

 Pour le dataset : Firstname

shape (6946, 3)

 Pour le dataset : Transcriptions

shape (241, 1)

(     firstname     male   female
 0        marie    10145  2390322
 1         jean  1869615     6476
 2       pierre  1475841     5047
 3       jeanne     1765  1097397
 4     françois  1089009     5951
 ...        ...      ...      ...
 6941   winnocq       10        0
 6942     xyste        9        1
 6943      zara        0       10
 6944  zéraphin       10        0
 6945     zimle        0       10

 [6946 rows x 3 columns],
                subject_line,groundtruth,prediction,sex
 0    ebb26ada-044c-4c62-9dbc-a9c8d505d31c,surname: ...
 1    338496f5-e4ca-43ac-aa5c-429cb3f6ac00,surname: ...
 2    e6a279da-9b6f-4f49-b498-64857bc50d1e,surname: ...
 3    7534deca-39e8-4f00-be17-c12460015de1,surname: ...
 4    ef334a66-a504-418a-9872-e7c9db923488,surname: ...
 ..                                                 ...
 236  1d92738a-cffe-4aee-ab10-db04c37f7405,surname: ...
 237  09440055-7972-4135-a537-e6c5a1f2aeb2,surname: ...
 238  4d387278-12c3-410c-bdf0-c5c603479764,surname: ...
 239  623b95de-f87c-4844-a7f7-361088eed83a,surname: ...
 240  26d7839c-16a1-486e-9736-83e500fb72e5,surname: ...

 [241 rows x 1 columns])

In [32]:
import src.data.data_make as my_fun

In [33]:
my_fun