# le module make_date

In [ ]:
import os
import sys
src_dir = os.path.abspath('../src')
sys.path.append(src_dir)

In [4]:
from data  import make_dataset3

In [6]:
df1,df2=make_dataset3.get_data()

 Pour le dataset : Firstname

shape (6946, 3)

 Pour le dataset : Transcriptions

shape (241, 4)

In [7]:
df1.head(2)

  firstname     male   female
0     marie    10145  2390322
1      jean  1869615     6476

In [8]:
df2.head(2)

,subject_line,groundtruth,prediction,sex
0,ebb26ada-044c-4c62-9dbc-a9c8d505d31c,surname: Chardon firstname: Marie occupation: ...,nom: Chardon prénom: Marie date_naissance: 30 ...,femme
1,338496f5-e4ca-43ac-aa5c-429cb3f6ac00,surname: Lhopital firstname: Louis-Jean occupa...,nom: Lhopital prénom: Louis Jean date_naissanc...,homme

# le module buid_features

In [33]:
from features import make_fetaure16

In [34]:
Final_input=make_fetaure16.preprocess_data()

 Pour le dataset : Firstname

shape (6946, 3)

 Pour le dataset : Transcriptions

shape (241, 4)


well done

In [25]:
Final_input.head(3)

,Phrase,prenom,input_ids
0,"nom:chardon,prenom:marie ,date_naissance:30 ,l...",marie,"[tensor(101), tensor(2053), tensor(2213), tens..."
1,"nom:lhopital,prenom:louis jean ,date_naissance...",louis jean,"[tensor(101), tensor(2053), tensor(2213), tens..."
2,"nom:pyrin,prenom:marie ,date_naissance:55 ,rel...",marie,"[tensor(101), tensor(2053), tensor(2213), tens..."

In [16]:
df2.head(3)

,subject_line,groundtruth,prediction,sex
0,ebb26ada-044c-4c62-9dbc-a9c8d505d31c,surname: Chardon firstname: Marie occupation: ...,nom: Chardon prénom: Marie date_naissance: 30 ...,femme
1,338496f5-e4ca-43ac-aa5c-429cb3f6ac00,surname: Lhopital firstname: Louis-Jean occupa...,nom: Lhopital prénom: Louis Jean date_naissanc...,homme
2,e6a279da-9b6f-4f49-b498-64857bc50d1e,surname: Papin firstname: Marie occupation: id...,nom: Pyrin prénom: Marie date_naissance: 55 re...,femme

In [35]:
make_fetaure16.upload_preproces_in_online_Bucket()

Une erreur s'est produite lors de l'envoi du fichier : Failed to upload /home/onyxia/work/ProjetNlpavril2024/Project1_odione/classification_by_LLM_DL/data/df_after_tokenizeation.csv to odione/Socface_Data/df_after_tokenizeation.csv: An error occurred (InvalidTokenId) when calling the PutObject operation: The security token included in the request is invalid